<form action="/api/battery" method="POST">
    <p>Horário de funcionamento</p>
    <label for="start-time">Início</label>
    <input type="time" name="start-time">
    <label for="finish-time">Término</label>
    <input type="time" name="finish-time">
    <br><br>
    <input type="submit" value="Criar">
</form>